<mat-card fxLayoutAlign="center center">
    <form
      [formGroup]="contactForm"
      fxLayout="column wrap"
      fxLayoutGap="3%"
      (ngSubmit)="onFormSubmit()"
    >
      <div fxLayout="row " fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutGap="3%">
        <mat-card-title><h1>Patient SignUp !! </h1> </mat-card-title>
      </div>
  
      <div fxLayout="row "  fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutGap="10%">
        <div fxFlex="30" id="title-label">Title: </div>
        <div fxFlex="70">
          <mat-radio-group aria-labelledby="title-label" color="accent">
            <mat-radio-button value="1">Mr</mat-radio-button>
            <mat-radio-button value="2">Miss</mat-radio-button>
            <mat-radio-button value="3">Mrs</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
  
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="3%">
        <mat-form-field color="accent" >
          <input
            id="fName"
            matInput
            type="text"
            placeholder="Your first name"
            formControlName="firstName"
          />
        </mat-form-field>
        <mat-form-field color="accent">
          <input
            id="lName"
            matInput
            type="text"
            placeholder="Your last name"
            formControlName="lastName"
          />
        </mat-form-field>
      </div>
  
      <div fxLayout="row " fxLayout.lt-sm="column" fxLayoutGap="3%">
        <mat-form-field color="accent">
          <input
            id="email"
            matInput
            type="text"
            placeholder="Your email"
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Date Of Birth</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="row "  fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutGap="10%">
        <label>Phone Number :</label>
        <mat-form-field appearance="outline" color="accent">
            <input 
              matInput 
              ng2TelInput 
              [ng2TelInputOptions]="{initialCountry: 'in'}"
              formControlName="formControlPhone" 
               />
            
          </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="3%">
        <mat-form-field  color="accent">
          <input
            id="password"
            matInput
            type="text"
            placeholder="password"
            formControlName="password"
          />
        </mat-form-field>
        <mat-form-field color="accent" >
          <input
            id="confirmpassword"
            matInput
            type="text"
            placeholder="Confirm Password"
            formControlName="confirmpassword"
          />
        </mat-form-field>
      </div>
  
     
  
      <div fxLayout="row " fxLayoutAlign="center center"  fxLayout.lt-sm="column" fxLayoutGap="1%">
        <mat-card-actions fxFlexFill>
          <button
            color="accent"
            mat-raised-button
            type="submit"
          
            fxFlexFill
          >
            Submit!
          </button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card>